{% extends "base.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/map.css') }}" rel="stylesheet">
{% endblock css %}

{% block js %}
    <script src="{{ url_for('static', filename='js/map.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/components.js') }}"> </script>
    <script src="{{ url_for('babel_catalog') }}"></script>
{% endblock %}

{% block content %}
    <p hidden id="token">{{TOKEN}}</p>
    <p hidden id="language">{{LANGUAGE}}</p>
    <div class= container id="filter_container">
        <div class = "row">
            <div class = "col col-lg-3" id="title_col">
                <h4 id="title"> GBFS Visualizer </h4>
            </div>
        </div>
        <div class = "row">
            <div class = "col col-lg-3" id="gbfs_col">
                <label for="input_gbfs" id="label_input_gbfs" class="form-label"> {{ gettext('GBFS_SYSTEM') }}</label>
                <input list="selector_gbfs" id="input_gbfs" placeholder="Search / Select" value="Bilbaobizi (Bilbao)">
                <datalist id="selector_gbfs"></datalist>
            </div>
        </div>
        <div class = "row">
            <div class = "col col-lg-3" id="min_bikes_col">
                <label for="min_bikes_range" id="label_min_bikes" class="form-label">{{ gettext('MIN_BIKES') }} 0</label>
                <input type="range" class="form-range" min="0" max="30" value="0" step="1" id="min_bikes_range">
            </div>
        </div>
        <div class = "row">
            <div class = "col col-lg-3" id="min_stations_col">
                <label for="min_stations_range" id="label_min_stations" class="form-label">{{ gettext('MIN_STATIONS') }} 0</label>
                <input type="range" class="form-range" min="0" max="30" value="0"step="1" id="min_stations_range">
            </div>
        </div>
    </div>
    <div class="spinner-border text-warning" id="loading_div" role="status"></div>
    <div id="map">
    </div>
{% endblock %}


